In [1]:
import pandas as pd
from quilt.data.elijahc import ripc

In [2]:
subjects = ripc.meta.subjects()
samples = ripc.meta.samples()

In [3]:
abs_q = pd.melt(ripc.targeted.abs_quant(), id_vars=['Sample ID','Sample type'], value_name='value', var_name='Name')

In [4]:
abs_q['sample_id'] = abs_q['Sample ID']
abs_q = abs_q.join(samples[['sample_id','Subject','min','type']].set_index('sample_id'),on='sample_id').query("type == 'Plasma'")
abs_q = abs_q.join(subjects.set_index('Subject'), on='Subject')

In [5]:
abs_q.head()

,Sample ID,Sample type,Name,value,sample_id,Subject,min,type,Sex,Height (m),Weight (kg)
0,1A,Plasma,Adenosine,0.000000,1A,1,0,Plasma,Female,1.6,58.96696
1,1B,Plasma,Adenosine,0.000000,1B,1,2,Plasma,Female,1.6,58.96696
2,1C,Plasma,Adenosine,0.000000,1C,1,4,Plasma,Female,1.6,58.96696
3,1D,Plasma,Adenosine,0.013192,1D,1,6,Plasma,Female,1.6,58.96696
4,1E,Plasma,Adenosine,0.000000,1E,1,8,Plasma,Female,1.6,58.96696

In [7]:
metabolites = abs_q.Name.drop_duplicates().values

In [ ]:
pd.pivot()

In [11]:
abs_q.query('Name == "{}"'.format('Adenosine')).pivot_table(index='Subject',columns=['min'],values='value')

min,0,2,4,6,8,10,20,30,45,60
Subject,,,,,,,,,,
1,0.000000,0.000000,0.000000,0.013192,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.004292,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.004509,0.000000,0.000000,0.006779,0.035721,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.004779,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008702,0.007445,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.004284,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.009002,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.034300,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.006692,0.000000,0.000000,0.000000,0.000000
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,0.098026,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006233,0.000000,0.000000
25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006191,0.000000,0.000000,0.000000
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,0.000000,0.000000,0.000000,0.000000,0.005602,0.000000,0.000000,0.000000,0.000000,0.000000
28,0.003280,0.005331,0.011054,0.006313,0.011598,0.003562,0.000000,0.008074,0.000000,0.005577
29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30,0.000000,0.000000,0.000000,0.006253,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [17]:
anova_dfs = []
for m in metabolites:
        df = abs_q.query('Name == "{}"'.format(m)).pivot_table(index='Subject',columns=['min'],values='value')
        anova_dfs.append(df)

In [19]:
df = anova_dfs[5]
df.to_csv('')

In [25]:
metabolites[15] = 'L-Isoleucine_L-Leucine'

In [26]:
for df,m in zip(anova_dfs,metabolites):
    df.to_csv('../data/anova_csvs/{}.csv'.format(m))